.nav-link {
    color: #fff !important;
    font-size: 1.2rem;
}

.nav-link i {
    margin-left: 5px;
}


.number {
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff;
    color: #007bff;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}


.bag {
    position: relative;
    font-size: 1.5rem;
}

.bag .number {
    position: absolute;
    top: 5px;
    right: -3px;
}