extends ../templates/common
block content
    h2.text-center.m-5 Register
    .row
        .col-md-3
        .col-md-6
            form(action="/users/create", method="post", enctype="multipart/form-data")
                .form-group
                    label(for="name") Name :
                    input.form-control(type="text" name="name" placeholder="Enter your name here..." id="name")
                    br
                    label(for="email") Email :
                    input.form-control(type="text" name="email" placeholder="Enter your email here..." id="email")
                    br
                    label(for="file") Avatar :
                    input.form-control-file(id="file" type="file", name="avatar")
                    br
                    button.btn.btn-primary(type="submit") Register
        .col-md-3